node_modules/
.pnpm-store/
dist/
.next/
out/
build/
coverage/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

uploads
tsconfig.tsbuildinfo